<section id="testimonials" class="section testimonials reveal">
  <div class="container">
    <p class="sub-title">TESTIMONIALS</p>
    <h3 class="section-title">Real Patients.<br>Real Results.</h3>

    <div class="testimonial-wrapper">
      <div class="testimonial-row" id="testimonialCarousel">

        <!-- CARD 1 -->
        <blockquote class="testimonial-card fade-slide">
          <div class="avatar"></div>
          <p>Knee pain reduced in 2 visits doctor explained everything clearly.</p>
          <footer>‘ patient 1 ”</footer>
        </blockquote>

        <!-- CARD 2 -->
        <blockquote class="testimonial-card fade-slide">
          <div class="avatar"></div>
          <p>Back pain improved quickly, thanks to the clear guidance.</p>
          <footer>‘ patient 2 ”</footer>
        </blockquote>

        <!-- CARD 3 -->
        <blockquote class="testimonial-card fade-slide">
          <div class="avatar"></div>
          <p>Doctor explained every detail, very professional.</p>
          <footer>‘ patient 3 ”</footer>
        </blockquote>

        <!-- CARD 4 -->
        <blockquote class="testimonial-card fade-slide">
          <div class="avatar"></div>
          <p>Friendly staff and comfortable environment.</p>
          <footer>‘ patient 4 ”</footer>
        </blockquote>

      </div>
    </div>
  </div>
</section>

